@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.paragraph h1{
    
    font-style: italic;
    color: var(--text-color);
    font-size: 80px;
}
 .para2{
    background-image: url(pics/kjongs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 300%;
    height: 300px;
    margin: 0;
 } 
 .div1{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin-top: 150px;
 }
 
 .image{
    width: 50px;
    border-radius: 8px;
    height: 50px
}

.form{
    font-style: oblique;
    font-size: larger;
}
.element{
    padding: 60px;
    color: var(--text-color);
}
.element:hover{
    scale: 1.1;
    transition-duration: 1s;
    box-shadow: 0 4px 8px var(--text-color);
    background-color: var(--secondary-color);
    border-radius: 20px;
}
html {
    scroll-behavior: smooth;
    
}

#logo{
    border-radius: 15px;
    padding-bottom: 5px;
    padding: 5px;
    margin: 5px;
}
header{
    position: fixed;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: 9999;
    top: 0;
}
.navbar {
    padding: 20px;
    font-family: 'arial';
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right;
    font-size: 20px;
    background-color: var(--secondary-color);
    background-color: var(--secondary-color);
   
}
@media (max-width: 600px) {
    .navbar {
        text-align: center;
    }
}

/* Navbar links */
.navbar a {
    text-decoration: none;
    color: var(--text-color);
    padding: 5px;
}

.navbar a:hover {
    color: var(--gradprimary);
    box-shadow: 0 4px 8px var(--text-color);
    border-radius: 10px;
    
}
#icon{
    width: 25px;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
}


:root {
    --primary-color: #F6F4E8;
    --secondary-color: #BACEC1;
    --accent-color: #E59560;
    --text-color: #1D3124;
}
    
.dark-mode{
    --primary-color:#1D3124;
    --secondary-color: #080d09;
    --accent-color: #E59560;
    --text-color:#F6F4E8;
}

.paragraph{
    margin: 0;
}

h1{
    font-size: 70px;
    color: var(--text-color);
    
}
h3{
    font-size: 30px;  
    align-items: right;  
}


 /* General Styles */
body {
    font-family: arial;
    margin: 0;
    padding-top: 50px;
    color: var(--text-color);
    background-color: var(--primary-color);
}

/* Footer Styles */
.footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.footer-section {
    flex-basis: 30%;
    padding-left: 80px;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}
.logo-text{
    color: var(--text-color);
}

.footer-section ul a {
    color: var(--accent-color);
    text-decoration: none;
    display: block;
    width: 150px;
}

.footer-section ul a:hover {
    color: var(--primary-color);
    border-radius: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid var(--primary-color);
}

.footer-bottom a {
    color: var(--primary-color);
    text-decoration: none;
}

.footer-bottom a:hover {
    color: var(--text-color);
}

.text-input-contact-input-email {
    border: none;
    border-radius: 8px;
    padding: 8px;
}
.text-input-contact-input{
    border: none;
    border-radius: 8px;
}
.submit-btn{
    border: none;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--accent-color);
    background-color:var(--text-color);
    padding-left: 20px;
    padding-right: 20px;
    padding: bottom 20px;

}
.submit-btn::after{
    background-color:var(--text-color);
    color: var(--primary-color);
}
.fa{
    padding: 15px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover{
    opacity: 0.7;

}
.fa-facebook{
    background: #3b5998;
    color: white;
}
.fa-instagram{
    background: #ca0505;
    color: white;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
}
.socials{
    padding: 0;
}
.socials a{
   margin: 10px;
}

/*animations*/
@keyframes fade-in {
    from {
        scale: .5; opacity: .2;
    }
    to {
        scale: 1; opacity: 1;
    }    
}

/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown button */
.dropdown-toggle {
    color: var(--gradprimary);
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--text-color);
    z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--secondary-color);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-toggle {
    background-color: var();
}



