html {
    scroll-behavior: smooth;
    
}
.header {
    background-image: url('pics/bg.jpeg');
    background-repeat: no-repeat; 
    background-size: 100% 160%;
    color: rgb(0, 0, 0);
    height: 500px;
    margin: 0;
}
h3{
    font-size: 30px;
}
.navbar {
    padding: 20px;
    font-family: 'Times New Romans';
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.8;
    text-align: right;
    font-size: 20px;
  
}
@media (max-width: 600px) {
    .navbar {
        text-align: center;
    }
}

/* Navbar links */
.navbar a { 
    text-decoration: none;
    color: black;
    padding: 5px;
}

.navbar a:hover {
    color: #ff0000;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
    grid-gap: 10px;
    
  }  
.grid-item{
    transition: box-shadow 0.3s ease;
    padding: 10px;
    border-radius: 10px;
}

.grid-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.grid-image{
    max-width: 100%; 
    height: auto; 
    border-radius: 8px;
}
h1{
    font-size: 90px;
    color: white;
    
}
.salutation{
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    background-image: linear-gradient(to bottom right,white,rgb(0, 0, 0),rgb(255, 204, 0),rgb(255, 0, 0),white );
}

 /* General Styles */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

/* Footer Styles */
.footer {
    background-color: #01291cc5;
    color: #ffffff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.footer-section {
    flex-basis: 30%;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #dddddd;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ffffff;
}

.footer-bottom a {
    color: #ffffff;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #000000;
}

